body {
    /* background-image: url('../img/aboutus.jpg'); */
    margin: 0 auto;
}

.parallax {
    /* The image used */
    background-image: url("../img/aboutus.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.app-header {
    padding: 10px;
    background-color: lightblue;
    font-weight: 600;
}

.app-footer {
    background-color: lightgray;
    padding: 10px;
    font-weight: 600;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.about-us-title,
.about-us-intro {
    font-weight: 600;
    text-align: center
}

.about-us-intro {
    margin-bottom: 20px
}

.home-img {
    width: 100vw;
    align-content: center
}

.about-us-desc {
    background-color: rgba(59, 53, 53, 0.8);
    color: white;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
}

.about-imgs {
    display: flex;
}

.tamir-img {
    border-radius: 100px;
    max-width: 160px;
}

.niv-img {
    border-radius: 100px;
    height: 230px;
    max-width: 160px;
}

.desc-both {
    display: flex;
    justify-content: center;
    text-align: center
}

.niv-desc {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding: 10px;
}

.tamir-desc {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding: 10px;
}